
.vs/StudentRegistration/v15/.suo
.vs/StudentRegistration/v15/Server/sqlite3/storage.ide
.vs/StudentRegistration/v15/.suo
.vs/StudentRegistration/v15/Server/sqlite3/storage.ide
.vs/StudentRegistration/v15/.suo
.vs/StudentRegistration/v15/Server/sqlite3/storage.ide
.vs/StudentRegistration/v15/.suo
Sudent Registration/App_Data/School_log.ldf
Sudent Registration/App_Data/School.mdf
